* {
  font-family: 'Inter', sans-serif;
  color: rgb(200,240,250);
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --pure-white: #FFFFFF;
  --paper-white: #F4F4F4;
  --theme-blue: #C1CBD7;
  --dark-blue: #52658F;
  --accent-yellow: #CDA34F;
}

/* Styles for the entry page (index.html) */
body.index {
  background-image: url("images/00cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content: center;
  min-height: 100vh;
}

/* Styles for the information page (info.html) */
body.info {
  background-image: url("images/01coverDark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navbar ul{
  color: #C1CBD7;
  text-decoration: noun;
  background-color: #52658F;
  overflow: hidden;
}

.navbar a{
  padding: 15px 40px 5px 40px;
  display: block;
  text-align: center;
  border-radius: 0px 15px;
}

.navbar a:hover{
  text-decoration: underline;
}

.navbar li{
  list-style-type: none;
  float: left;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: #52658F;
}

h3 {
  display: grid;
  place-items: center;
  font-size: 30px;
  color: #52658F;
  font-weight: 50;
}

.subtitle {
  color: rgba(244, 244, 244, 0.8);
  font-style: bold;
  text-align: right;
  margin-bottom: -39px;
}

.video-container {
  position: relative;
  padding: 20px 5vw;
  width: 100%;
}

.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translate(0px, -110px);
}

.interface-btn {
	display:grid;
	place-items:center;
  font-size: 25px; 
  background-color: #CDA34F; 
  color: #FFFFFF; 
  border:none;
  border-radius: 10px; 
  padding: 5px 15px;
  top:50%;
  text-decoration: none;
}

.model-btn {
  display:grid;
  place-items:center;
  font-size: 25px; 
  background-color: #C1CBD7; 
  color: #FFFFFF; 
  border:none;
  border-radius: 8px; 
  padding: 0px 10px;
  z-index: 2;
  position: relative;
}

button:hover{
  background-color: #F0AB22;
}

.model-btn button:hover{
  background-color: #FFFFFF;
}

html,body{
	width: 100%;
	height:100%;
}

.textPg {
  padding: 20%;
}

.title {
  color: rgba(244, 244, 244, 0.8);
  font-size: 100px;
  font-style: bold;
  margin-bottom: -39px;
}

.subtitle {
  display: flex;
  align-items: flext-end;
  justify-content: right;
}

#boxBG{
  width:80%;
  max-width: 1355px;
  height:760px;
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top:60px;
  margin: 0 auto;
  position: relative;
}

p, dl {
  color: #52658F;
  padding:50px;
  width:80%;
  min-width: 20%;
  font-size: 18px;
  margin: 0;
}

.sectionBG{
  background-position: center;
  background-size: cover;
}

.button-container {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.chunk-model {
  width:100%;
  height: 50vh;
  max-width: 1300px;
  margin: 0 auto;
}

.galleryold{
  display: grid;
    display: flex;
  place-items: center;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap:10px;
}

.Gallery{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  border: 0px solid;
  margin: 10%;
  margin-right: 10%;
}

.Gallery img:hover{
  border: 5px solid #52658F;
}

.Gallery img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

#myCarousel {
  --f-carousel-slide-height: 60%;
  --f-carousel-spacing: 10px;
  height: 200px;
}

.chunk-model{
  width: 1000px;
}

#Greeting{
  width: 250px;
  height:20px;
  background: rgb(215,84,85);
  font-size:15px;
  text-align:center;
  color: rgb(240,250,250);
  order:0;
  
  animation:mySlide;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes mySlide{
  from{margin-left: 100%}
  to{margin-right: 0%}
}

@media screen and (max-width:600px){
  aside, section, article{
    width: 100%;
  }
}